Django==4.2.0
djangorestframework==3.14.0
django-cors-headers==4.0.0
python-dotenv==1.0.0
deep-translator==1.11.4
# Updated libraries to fix deployment build errors
transformers>=4.37.0
huggingface-hub>=0.20.0
tokenizers>=0.15.0
# Core
torch
requests==2.31.0
google-auth==2.23.0
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
pymongo==4.6.0
channels==4.0.0
daphne==4.0.0
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9
